body{
  background-color: lightblue;
}

#Display{
  font-size: 15px;
  font-weight: bold;
  width: 120px;
  height: 50px;
  margin-bottom: 10px;
  text-align: right;
}

#Cero{
  text-align: justify;
}

div{
  margin: 2px;
}

#Ultimos{
    text-indent: 30px;
}

.Botones{
  width: 25px;
  height: 25px;
}
